<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <title>PetPicker/accounts</title>
    <link rel="canonical" href="https://glitch-hello-website.glitch.me/" />
    <meta
      name="description"
      content="A simple website, built with Glitch. Remix it to get your own."
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Hello World!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://glitch-hello-website.glitch.me/" />
    <meta
      property="og:description"
      content="A simple website, built with Glitch. Remix it to get your own."
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2Fhello-website-social.png?v=1616712748147"
    />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        <h1 class="title">Accounts page</h1>
        <div>
          <form action="/form/submit" method="GET">
  <input type="text" name="text" class="search" placeholder="Search here!">
  <input type="submit" name="submit" class="submit" value="Search">
</form>
          <form><button>Logout</button></form>
        </div>
        <div>
          <p>
            Welcome (username here)!
          </p>
        </div>
        <div>
          <p>
            <h2>
              Saved search queries:
            </h2>
          Search Result 1 <br>
          Search Result 2 <br>
          Search Result 3 <br>
          Search Result 4 <br>
          Search Result 5
          </p>
        </div>
      </div>
      <a href="results.html">Results temp link</a>
    </div>
  </body>
</html>
