<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      This is the page head - it contains info the browser uses to display the page
      You won't see what's in the head in the page
      Scroll down to the body element for the page content
    -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <!-- 
      This is an HTML comment
      You can write text in a comment and the content won't be visible in the page
    -->

    <title>Hello World!</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="https://glitch-hello-website.glitch.me/" />
    <meta
      name="description"
      content="A simple website, built with Glitch. Remix it to get your own."
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Hello World!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://glitch-hello-website.glitch.me/" />
    <meta
      property="og:description"
      content="A simple website, built with Glitch. Remix it to get your own."
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2Fhello-website-social.png?v=1616712748147"
    />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/static/style.css" />
    <!-- <script src="/script.js" defer></script> -->
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        <h1 class="title">Welcome to PetPicker</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" id="login" method="POST">
        <div class="instructions">
          <label for="fname">Username:</label>
          <input type="text" id="fname" name="fname" />
          <label for="pwd">Password:</label>
          <input type="password" id="pwd" name="pwd" />
        </div>
        <div>
          <button type="submit" name="authorize" value="Login">Log In</button>
          <button type="submit" name="authorize" value="Register">Create Account</button>
        </div>
        </form>
      </div>
      <div>
      <a href="account.html">Accounts temp link</a>
      <a href="results.html">Results temp link</a>
        
      </div>
    </div>
  </body>
</html>
